body.blue {

    .admin-left {
        background: #1154ce !important;
    }

    .admin-login-bx {

        button {
            background: #1154ce !important;
        }
    }

    header {
        background: #1154ce !important;
    }

    table {
    
        th {
            background: #1154ce !important;
            color: #FFFFFF;
        }

        td {

            a {
                color: #1154ce !important;
            }
        }
    }

    .pagination {

        li {
            span {
                background: #1154ce !important;
            }
        }
    }

    .agent-info {
        background: #1154ce;
    }
}