body.green {

    .admin-left {
        background: #149f12 !important;
    }

    .admin-login-bx {

        button {
            background: #149f12 !important;
        }
    }

    header {
        background: #149f12 !important;
    }

    table {
    
        th {
            background: #149f12 !important;
            color: #FFFFFF;
        }

        td {

            a {
                color: #149f12 !important;
            }
        }
    }

    .pagination {

        li {
            span {
                background: #149f12 !important;
            }
        }
    }

    .agent-info {
        background: #149f12;
    }

    .admin-log-button {
        background: #149f12 !important;
    }

    .admin-dash-links {

        a {

            &:hover {
                background-color: #149f12 !important
            }
        }
    }

    .list-group-item {

        &.active {

            background: #149f12 !important;
            color: #FFFFFF !important;

            a {

                background: #149f12 !important;
                color: #FFFFFF !important;
            }
        }
    }
}

