body.green {

    .admin-left {
        background: #149f12 !important;
    }

    .admin-login-bx {

        button {
            background: #149f12 !important;
        }
    }

    header {
        background: #149f12 !important;
    }
}