body.red {

    .admin-left {
        background: #ca0707 !important;
    }

    .admin-login-bx {

        button {
            background: #ca0707 !important;
        }
    }

    header {
        background: #ca0707 !important;
    }
}