@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('Components/themes/blue.scss');
@import url('Components/themes/green.scss');
@import url('Components/themes/red.scss');

body {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

span {
    font-family: 'Roboto', sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background: #FFFFFF;
    color: #FFFFFF;
    box-shadow: 0px -2px 10px #2e2424;
    height: 80px;

    img {
        max-height: 77px;
    }

    .navbar-brand {
        color: #FFFFFF !important;
        font-size: 26px;
        float: left;

        img {
            max-height: 60px;
            border-radius: 5px;
            background: #FFFFFF;
            padding: 0;
            margin: 0 15px 0 0;
        }
    }   
    
    .menu-btn {
        margin-top: 17px;
        margin-left: 0;
        float: left;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 500;
        background: none !important;
        border: none;
        box-shadow: none;
        color: #FFFFFF;
        transition:all 0.3s ease-out;
        background: #a00a10 !important;

        &:hover {
            background: #a00a10 !important;
            color: #FFFFFF;
            transition:all 0.3s ease-out;
        }

        &:focus {
            background: #a00a10 !important;
            color: #FFFFFF;
            transition:all 0.3s ease-out;
        }

        span {
            float: left;
        }

        i {
            float: left;
            margin: 4px 8px 0 0;
        }
    }

    .navbar {
        float: left;
        
        a {
            font-weight: 400;
            color: #333333 !important;
            font-size: 14px;
            font-weight: 600;

            &:first-child {
                padding-left: 0 !important;
            }
        }
    }

    .top-banner {
        height: 80px;
        padding: 0;

        .tpbanner {
            height: 80px;
        }

        img {
            max-height: 80px;
            border-radius: 5px 0 0 5px !important;
        }
    }

    .dropdown {
        float: right;
    }

    .navbar-toggler-icon {
        background: url(../public/images/paragraph.png) center center no-repeat;
        background-size: 25px;
    }

    .navbar-collapse.show {
        position: fixed;
        background: rgb(255, 255, 255);
        left: 0px;
        width: 300px;
        top: 78px;
        padding: 10px 25px;
        box-shadow: rgb(36 25 25) -2px 12px 21px 4px;
        z-index: 0;
        height: calc(100vh + -80px) !important;
    }
}

.loginblock {
    float: left;
    width: 100%;
    position: relative;
    background: #a00a10;
    padding: 10px 0;
}

.jbseeker-block {
    float: right;

    &.log {

        button {
            text-transform: capitalize !important;
        }
    }

    button {
        background: #FFFFFF;
        border: none;
        color: #2e2424;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 500;
        transition:all 0.3s ease-out;

        &:hover {
            background: #12b664 !important;
            transition:all 0.3s ease-out;
            color: #FFFFFF;
        }

        &:focus {
            background: #12b664 !important;
            transition:all 0.3s ease-out;
            color: #FFFFFF;
        }

        &:active {
            background: #12b664 !important;
            transition:all 0.3s ease-out;
            color: #FFFFFF;
        }

        &::after {
            margin-left: 5px;
            position: relative;
            top: 3px;
            font-size: 16px;
        }
    }

    .dropdown-menu {
        width: auto;
        min-width: none;
        max-width: auto;
        background: #c51c21;
        border: none;
        padding: 5px;

        a {
            font-size: 12px;
            text-align: right;
            color: #FFFFFF;
            border-radius: 5px;
            padding: 5px 10px;
            float: left;
            width: 100%;
            text-decoration: none;

            &:hover {
                background: #12b664 !important;
            }
        }
    }
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background: #222121;
    color: #FFFFFF;
    text-align: center;
    height: 30px;
    vertical-align: middle;

    p {
        padding: 0;
        margin: 0;
        line-height: 30px;
        font-size: 12px;
    }
}

#main-banner {
    height: auto;
    overflow: hidden;
    padding: 0;
    position: sticky;
    top: 100px;

    img {
        border-radius: 5px;
    }
}

#main-cont {
    float: left;
    width: 100%;
    position: relative;
    padding: 80px 0 40px 0;
}

.slick-arrow {
    display: none !important;
}

.mt-minus {
    margin-top: -40px !important;
    margin-bottom: 15px;
}

.category-slider {
    
    a {
        border: solid 1px #EEEEEE;
        border-radius: 5px;
        padding: 5px 15px;
        text-decoration: none;
        color: #333333;
        margin: 5px 10px;
        float: left;
        font-weight: 500;
        font-size: 12px;

        &:first-child {
            margin-left: 0 !important;
        }

        &:hover {
            background: rgb(91, 19, 19);
            color: #FFF;
        }
    }

    .active {

        a {
            background: rgb(91, 19, 19);
            color: #FFF;
        }
    }
}

.sub-title {
    width: 100%;
    font-size: 14px;
}

#home-category {
    float: left;
    width: 100%;
    position: sticky;
    top: 90px;
    height: calc(100vh + -130px);
    background: rgb(91, 19, 19);
    border-radius: 5px;
    padding: 10px;
    // max-height: calc(100vh + -210px);
    overflow: auto;

    input {
        border: none;
        outline: none;
        box-shadow: none;
        font-size: 12px;
    }

    button {
        background: linear-gradient(0deg, #146f14 0%, #1c8b1c 75%);
        border: solid 2px #1c8b1c;
        outline: none;
        box-shadow: none;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 500;
    }

    .list-group {
        background: linear-gradient(180deg, #ffcc33 0%, #c29404 75%);
        border-radius: 3px;
        max-height: calc(100vh + -190px);
        overflow: auto;
    }
    
    .list-group-item {
        background: none;
        padding: 10px !important;

        &:hover {
            background: #580000 !important;
            cursor: pointer;

            .me-auto {

                a {
                    text-decoration: none;
                    color: #FFFFFF;
                }
            }
        }

        .me-auto {
            font-size: 12px;
            font-weight: 500;     
            float: left;
            width: calc(100% + -40px);       

            a {
                text-decoration: none;
                color: #000000;
                float: left;
            }
        }

        .badge {
            background: #FFF !important;
            color: #333333;
            font-size: 10px;
            font-weight: 600;
            line-height: 12px;
            float: right;
        }
    }
}

.card-hm-title {
    background: #580000;
    font-size: 12px !important;
    color: #FFFFFF;
    padding: 10px !important; 
    border-radius: 3px 3px 0 0;
    margin: 0 0 15px 0 !important;
    float: left;
    width: 100%;
}

.jb-list {

    .card {
        margin-bottom: 15px;

        .card-body {
            padding: 10px !important;
            font-size: 12px;
        }
    }
}

#jb-wrapper {
    // max-height: calc(100vh + -260px);
    overflow: auto;
    float: left; 

    .card {
        // margin-bottom: 15px;
        // width: 100%;
        // float: left;
        // border-radius: 5px;
        // background: #efefef;
        // transition:all 0.3s ease-out;
        // cursor: pointer;
        margin-bottom: 15px;
        width: 100%;
        float: left;
        border-radius: 5px;
        background: #ffffff;
        transition: all 0.3s ease-out;
        cursor: pointer;
        border: solid 1px #c3c3c3;
        box-shadow: 0px 0px 5px -2px #2e2e2e;
        margin-top: 3px;

        &:hover {
            background: #580000;
            transition:all 0.3s ease-out;

            .card-title {
                
                a {
                    color: #FFFFFF;
                }
            }

            .card-text {
                color: #ffa7a7;
            }

            .card-footer {
                
                small {
                    color: #ffa7a7 !important;
                }
            }
        }

        .card-body {
            padding: 10px;
            width: 100%;
            float: left;
            border-radius: 5px;
        }

        .card-title {
            width: 100%;
            float: left;
            position: relative;
            margin-bottom: 4px !important;

            a {
                float: left;
                text-decoration: none;
                color: #262626;
                font-size: 12px;
                font-weight: 500;
            }
        }

        .card-text {
            float: left;
            width: 100%;
            font-size: 12px;
            font-weight: 400;
            color: #838383;
        }

        .card-footer {
            width: 100%;
            float: left;
            padding: 5px 10px;

            small {
                width: 100%;
                float: left;
                font-size: 10px;
            }
        }
    }
}

#jbvac-wrapper {
    // max-height: calc(100vh + -260px);
    overflow: auto;
    float: left;

    .card {
        // margin-bottom: 15px;
        // width: 100%;
        // float: left;
        // border-radius: 5px;
        // background: #efefef;
        // transition:all 0.3s ease-out;
        // cursor: pointer;
        margin-bottom: 15px;
        width: 100%;
        float: left;
        border-radius: 5px;
        background: #ffffff;
        transition: all 0.3s ease-out;
        cursor: pointer;
        border: solid 1px #c3c3c3;
        box-shadow: 0px 0px 5px -2px #2e2e2e;
        margin-top: 3px;

        &:hover {
            background: #580000;
            transition:all 0.3s ease-out;

            .card-title {
                
                a {
                    color: #FFFFFF;
                }
            }

            .card-text {
                color: #ffa7a7;
                color: #FFFFFF !important;
            }

            .card-footer {
                
                small {
                    color: #ffa7a7 !important;
                }
            }
        }

        .card-body {
            padding: 10px;
            width: 100%;
            float: left;
            border-radius: 5px;
        }

        .card-title {
            width: 100%;
            float: left;
            position: relative;
            margin-bottom: 4px !important;

            a {
                float: left;
                text-decoration: none;
                color: #2a2727;
                font-size: 14px;
                font-weight: 500;
            }
        }

        .card-text {
            float: left;
            width: 100%;
            font-size: 11px;
            font-weight: 400;
            color: #939393;
            margin: 0;

            &.cp-name {
                color: #000000;
                font-size: 12px;
                margin-bottom: 5px;
            }

            &.od {
                color: #358735;
                float: left;
                width: auto !important;
                margin-right: 10px;
            }

            &.cd {
                color: #e55f5f;
                float: left;
                width: auto !important;
            }

            &.jb-desc {
                font-size: 12px;
                margin-bottom: 5px;
                color: #707070;
            }
        }

        .card-footer {
            width: 100%;
            float: left;
            padding: 5px 10px;

            small {
                width: 100%;
                float: left;
                font-size: 10px;
            }
        }
    }
}

.main-search {
    background: url(../public/images/wave-haikei.svg) center center no-repeat;
    background-size: cover;
    padding: 0 0 50px 0;
    margin: 0 0 20px 0;

    h1 {
        color: #FFFFFF;
        font-weight: 300;
        font-size: 28px;
    }

    .search-form {
        padding: 0 15px;
        max-width: 100%;
        display: inline-block;
        color: #FFFFFF;
        width: 400px;
        margin: 15px 0 20px 0;

        input {
            box-shadow: none;
            border: solid 1px #a00a10 !important;
        }

        button {
            background: #a00a10;
            border: #a00a10;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 500;
        }
    }
}

.menu-offcanvas {
    width: 400px !important;
    background: url(../public/images/wave-haikei.svg) top center no-repeat #FFFFFF;
    background-size: contain;

    .offcanvas-header {
        padding-bottom: 30px;
        color: #FFFFFF;

        .btn-close {
            color: #FFFFFF;
            background-color: #FFFFFF;
            opacity: 1;
        }
    }

    .offcanvas-header {
        padding-bottom: 0 !important;
    }

    .list-group {
        margin-bottom: 15px;

        .list-group-item {
            transition:all 0.1s ease-out;
            cursor: pointer;

            &:hover {
                background: #a00a10;
                color: #FFFFFF;

                a {
                    color: #FFFFFF;
                }
            }
        }

        a {
            text-decoration: none;
            color: #5e5e5e;
            font-weight: 500;
            font-size: 13px;
            width: 100%;
            float: left;

            &:hover {
                color: #a00a10;
                color: #FFFFFF;
            }
        }
    }
}

button {
    box-shadow: none !important;
}

.category-btn {
    position: relative;
    top: -1px;
    background: #0da740 !important;
    border: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    line-height: 23px;
    margin-right: 15px;
}

.main-category-pop {
    max-height: 100vh !important;
    height: auto !important;
    background: url(../public/images/wave-haikei.svg) top center no-repeat #FFFFFF;
    background-size: contain;
    border: none;

    .offcanvas-header {
        padding-bottom: 30px;
        color: #FFFFFF;

        .btn-close {
            color: #FFFFFF;
            background-color: #FFFFFF;
            opacity: 1;
        }
    }

    ul {
        float: left;
        width: 100%;
        margin: 0;
        padding: 0;

        li {
            list-style: none;
            float: left;
            width: calc(100% + -10px);
            margin: 0 0 5px 0;

            a {
                float: left;
                width: 100%;
                padding: 10px;
                border-radius: 5px;
                padding: 5px 10px;
                border: solid 1px #b9b9b9;
                text-decoration: none;
                margin: 5px;
                font-size: 13px;
                font-weight: 400;
                color: #2e2424;
                background: #FFFFFF;
                text-align: center;
                transition:all 0.1s ease-out;

                &:hover {
                    border: solid 1px #a00a10;
                    background: #a00a10;
                    color: #FFFFFF;
                }
            }

            &:last-child {                
                
                a {
                    background: #21a821;
                    border: solid 1px #21a821;
                    color: #FFFFFF;
                }
            }
        }
    }
}

.vacbytop {
    border-radius: 0 !important;
    border: none;
    // background: url(../public/images/wave-2.jpg) center center no-repeat;
    // background-size: 100%;
    background: linear-gradient(0deg, #0061a6 10%, #01295e 100%);
    height: auto;
    padding: 30px 0;
    margin-bottom: 30px;

    .card-title {
        font-size: 16px;
        font-weight: 400;
        padding-bottom: 5px;
    }

    .card-text {
        font-size: 11px;
        font-weight: 400;
        font-family: Arial, Helvetica, sans-serif !important;
        color: #64beff;
    }

    .search-form {
        max-width: 300px;
        display: inline-block;
        width: 100%;

        input {
            font-size: 12px;
            border: none;
        }

        button {
            font-size: 12px;
            border: none;
            text-transform: uppercase;
            background: #a00a10 !important;
        }
    }

    .category-btn {
        margin-left: 15px;
        font-size: 12px;
        line-height: 20px
    }
}

input, textarea {
    box-shadow: none !important;
}

.green-jb {
    border-left: solid 5px #009966 !important;
}

.advttl {
    border: solid 1px #EEE;
    padding: 0;
    border-radius: 5px;
    margin-bottom: 15px;
    margin-top: 15px;
    background: linear-gradient(-90deg, #0061a6 10%, #031e44 100%);
    color: #FFFFFF;
    float: left;

    .h5 {
        font-weight: 400 !important;
        font-size: 16px;
        float: left;
        width: 100%;        
    }

    span {
        font-size: 10px;
        border-radius: 3px;
        font-weight: 500;
        background: #0da740 !important;
        text-transform: uppercase;
        position: relative;
        line-height: initial;
        padding: 3px 10px;
        float: left;
        margin: 0 0 10px 0;
    }

    .h4 {
        font-weight: 300 !important;
        font-size: 14px;
    }

    p {
        margin: 0 !important;
        color: #9cd1f7;
        float: left;
        width: 100%;
    }    
}

.advbtngrp {
    border: solid 1px #EEE;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;

    button {
        font-size: 12px;
        border: none;
        border-radius: 3px !important;

        &:nth-child(2) {
            margin: 0 5px !important;
        }

        &.show-views {
            background: #0080e8;
        }

        &.applybye-btn {
            background: #0da740;
        }

        &.print-btn {
            background: #0061a6;
        }

        &.flag-btn {
            background: #01295e;
        }

        &.jb-nav {
            background: #6b0711;
            font-size: 14px;
        }
    }

    h5 {
        margin: 0;
    }
}

.addview {
    float: left;
    width: 100%;
    text-align: center;
    border: solid 1px #EEE;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    background: #ededed;
}

.addtitle-top {
    float: left;
    width: auto;
    text-align: center;
    margin: 0 0 15px 0;
    font-size: 16px;
    font-weight: 500;
}

.switchbutton {
    margin-top: -15px;
    margin-bottom: 15px;
    float: right;
    margin-left: 10px;
    font-size: 12px;
    background: #0c7ecf !important;
    border: none;
    transition:all 0.1s ease-out;
    border-radius: 3px;
    color: #FFFFFF;
    text-decoration: none;

    &:active {
        background: #0da740 !important;
        transition:all 0.1s ease-out;
        color: #FFFFFF;
    }

    &:hover {
        background: #0da740 !important;
        transition:all 0.1s ease-out;
        color: #FFFFFF;
    }

    &:visited {
        background: #0da740 !important;
        transition:all 0.1s ease-out;
        color: #FFFFFF;
    }

    &:focus {
        background: #0da740 !important;
        transition:all 0.1s ease-out;
        color: #FFFFFF;
    }

    i {
        margin-right: 5px;
    }
}

.jb-list-view {

    thead {
        position: sticky;
        top: 0;
    }

    tbody {
        height: 300px;
        overflow: auto;
    }

    table-layout: fixed;

    th {
        &:first-child {
            width: 40px;
        }
    }

    .green {
        background: #0da740 !important;
        color: #FFFFFF !important;
    }

    .yellow {
        background: #FFCC00 !important;
        color: #FFFFFF !important;
    }

    th {
        border: none;
        background: #B1191F;
        color: #FFFFFF;
        text-transform: uppercase;
        line-height: 30px;

        &:first-child {
            border-radius: 5px 0 0 0;
        }

        &:nth-child(2) {
            width: 90px;
        }

        &:nth-child(3) {
            width: 200px;
        }

        &:nth-child(4) {
            width: 500px;
        }

        &:nth-child(5) {
            width: 100px;
            text-align: center;
        }

        &:nth-child(6) {
            width: 100px;
            text-align: center;
        }

        &:last-child {
            border-radius: 0 5px 0 0;
        }
    }

    tr {
        transition:all 0.1s ease-out;
        &:hover {
            td {
                transition:all 0.1s ease-out;
                background: #ffe8e9;;
                a {
                    color: #B1191F;
                }
            }
        }
    }

    td {
        border: none;
        font-size: 12px;
        vertical-align: middle;
        align-items: center;
        justify-content: center;
        padding-top: 10px;
        padding-bottom: 10px;
        transition:all 0.1s ease-out;
        border-bottom: dashed 1px #EEEEEE;

        &:nth-child(5) {
            p {
                justify-content: center;
            }
        }

        &:nth-child(6) {
            p {
                justify-content: center;
            }
        }

        p {
            display: flex;
            align-items: center;
            justify-content: left;
            padding: 0;
            margin: 0;
            color: #4d4d4d;
            font-weight: 400;
        }

        a {
            display: flex;
            align-items: center;
            justify-content: left;
            font-weight: 600;
            color: #000000;
            text-decoration: none;
            transition:all 0.1s ease-out;

            &:hover {
                color: #B1191F;
                transition:all 0.1s ease-out;
            }
        }
    }
}

.addview-form {
    float: left;
    width: 100%;
    margin: 0 0 15px 0;
    border: dashed 2px #5e9aea;
    border-radius: 5px;
    padding: 15px;
    background: #ddedfa;

    input {
        font-size: 12px;
        border-radius: 3px;
    }

    textarea {
        border-radius: 3px;
    }

    .btn-group {
        justify-content: end;
        margin: 0;
    }

    button {
        width: 100px;
        float: right;
        flex: none !important;
        margin: 0;
        text-transform: uppercase;
        font-weight: 500;
    }
}

.cp-block {
    text-align: center;

    .card-body {
        text-align: left;
    }
}

.prel {
    position: relative;
}

.modal-fullscreen {

    .modal-header {
        padding: 10px 15px;

        .modal-title {
            font-size: 16px !important;
        }
    }
}

.js-login {

    .btn-close {
        background: url(../public/images/close.png) center center no-repeat; 
        background-size: 15px;
        opacity: 1;
    }

    .modal-body {
        padding: 0 !important;
    }

    .modal-content {
        background: url(../public/images/v-bg-2.jpg) center center no-repeat #a40a0a; 
    }

    .modal-header {
        border: none;
    }

    .login-box {
        width: 100%;
        max-width: 480px;
        background: hsla(0, 0%, 100%, 0.163);
        background-size: cover;       
        height: auto;
        float: left;
        padding: 30px 0;
        position: relative;
        text-align: center;
        border-radius: 25px;

        h3 {
            color: #FFFFFF;
            font-weight: 400;
            padding: 0;
            margin: 0;
            float: left;
            width: 100%;
        }  
        
        p {
            float: left;
            width: 100%;
            color: #FFFFFF;
            margin: 30px 0;
        }

        a {
            text-decoration: none;
            text-transform: uppercase;
            background: #0da740;
            padding: 10px 15px;
            border-radius: 3px;
            font-weight: 500;
            color: #FFFFFF;
            font-weight: 500;
            font-size: 12px;

            i {
                margin-left: 5px;
            }
        }
    }

    .js-login-form {
        width: 100%;
        max-width: 480px;
        padding: 0 20px;
        background: #ffffffc9; 
        background-size: cover;
        padding-top: 30px;
        padding-bottom: 30px;
        border-radius: 10px;

        h2 {
            font-size: 22px;
            margin: 0 0 15px 0;
            color: #000000;
            font-weight: 400;
        }

        button {
            text-transform: uppercase;
            background: #0da740;
            border: none;
            margin-bottom: 10px;
            float: right;

            i {
                margin-left: 5px;
            }
        }

        label {
            color: #000000;
        }

        .radio-grp {
            float: left;
            width: 100%;
            margin-top: 5px;
            color: #000000;

            input {
                position: relative;
                top: 2px;
                margin-right: 3px;
            }
        }

        .fgt-pass {
            float: right;
            margin: 30px 0 0 0;
            color: #000000;
        }
    }

    .js-login-form-inner {
        height: auto;
        padding: 30px 0;
    }
}

.js-signup {

    .btn-close {
        background: url(../public/images/close.png) center center no-repeat; 
        background-size: 15px;
        opacity: 1;
    }

    .modal-body {
        padding: 0 !important;
    }

    .modal-content {
        background: url(../public/images/v-bg-3.jpg) center center no-repeat #181818; 
    }

    .modal-header {
        border: none;
    }

    .signup-box {
        width: 100%;
        background: hsla(0, 0%, 100%, 0.163);
        background-size: cover;       
        width: 100%;
        height: auto;
        float: left;
        position: relative;
        padding: 30px 0;
        text-align: center;
        border-radius: 25px;

        h3 {
            color: #FFFFFF;
            font-weight: 400;
            padding: 0;
            margin: 0 0 15px 0;
            float: left;
            width: 100%;
        }  
        
        p {
            float: left;
            width: 100%;
            color: #FFFFFF;
            margin: 0 0 30px 0;
            padding: 0 30px;
            text-align: justify;
        }

        a {
            text-decoration: none;
            text-transform: uppercase;
            background: #0da740;
            padding: 10px 15px;
            border-radius: 3px;
            font-weight: 500;
            color: #FFFFFF;
            font-weight: 500;
            font-size: 12px;

            i {
                margin-left: 5px;
            }
        }
    }

    .js-signup-form {
        width: 100%;
        max-width: 100%;
        padding: 0 20px;
        background: #ffffffc9; 
        background-size: cover;
        padding-top: 30px;
        padding-bottom: 30px;
        border-radius: 10px;

        h2 {
            font-size: 22px;
            margin: 0 0 15px 0;
            color: #000000;
            font-weight: 400;
        }

        button {
            text-transform: uppercase;
            background: #0da740;
            border: none;
            margin-bottom: 10px;
            float: right;

            i {
                margin-left: 5px;
            }
        }

        label {
            color: #000000;
        }

        .radio-grp {
            float: left;
            width: 100%;
            margin-top: 5px;
            color: #000000;

            input {
                position: relative;
                top: 2px;
                margin-right: 3px;
            }
        }

        .fgt-pass {
            float: right;
            margin: 30px 0 0 0;
            color: #000000;
        }
    }

    .js-signup-form-inner {
        height: auto;
    }
}

.jslog-wrp {
    background: #FFFFFF;
    border-radius: 5px;
    padding: 5px 15px;
    margin: 0 0 50px 0;

    .jslog-img {
        max-width: 180px;
    }
}

.form-control {
    font-size: 12px !important;
}

select {
    box-shadow: none !important;
    outline: none;
    font-size: 12px !important;

    &:focus {
        box-shadow: none !important;
        outline: none;
    }

    &:focus {
        box-shadow: none;
        outline: none;
    }
}

.cm-btn {
    float: none !important;
    margin: 0 5px;
    text-transform: capitalize !important;
    width: auto;
    text-align: left;
    padding-right: 15px;

    &.google {
        background: #4285F4 !important;
    }

    &.facebook {
        background: #4267B2 !important;
    }

    &.microsoft {
        background: #F25022 !important;
    }

    &.apple {
        background: #000000 !important;
    }

    i {
        margin-right: 5px;
    }
}

.sepe {
    float: left;
    width: 100%;
    border-bottom: solid 1px #FFFFFF;
    margin-bottom: 15px;

    b {
        background: rgb(255 255 255);
        position: relative;
        top: 10px;
        padding: 5px 10px;
        border-radius: 5px;
        font-weight: 500;
    }
}

.emp-login {
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image: radial-gradient(#959595 0.5px, #e5e5f7 0.5px);
    background-size: 10px 10px;

    .main-cont {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        height: 100vh;

        .loginblock {
            display: none !important;
        }
    }
}

.admin-left {
    background: #830404;
    color: #FFFFFF;
    padding: 20px 15px;

    .admin-img {
        background: #FFFFFF;
        padding: 30px 30px;
        border-radius: 5px;
        margin-bottom: 15px;
        max-width: 300px;
        width: 100%;
    }

    h3 {
        padding: 15px 0 10px 0;
        font-size: 24px;
        font-weight: 400;
    }

    p {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.admin-login-bx {
    width: 350px;
    max-width: 100%;
    background: #FFFFFF;
    padding: 20px 30px;
    border-radius: 10px;
    margin: 30px 0;
    box-shadow: 0px 0px 20px 3px #d8d8d8;

    h2 {
        text-align: left !important;
        margin-bottom: 20px;
        font-size: 18px;
        font-weight: 500;
    }

    label {
        text-align: left !important;
        float: left;
        width: 100%;
        font-weight: 500;
        color: #313131;
    }

    button {
        width: 100%;
        margin-bottom: 15px;
        border: none;

        i {
            margin-left: 5px;
        }
    }

    .admin-log-button {
        width: 100%;
        margin-bottom: 15px;
        border: none;
        color: #FFFFFF;
        border-radius: 5px;

        i {
            margin-left: 5px;
        }
    }

    .radio-grp {
        text-align: left !important;
        float: left;
        width: 100%;
        margin-bottom: 5px;

        input {
            position: relative;
            top: 3px;
            margin-right: 5px;
        }
    }

    a {
        float: right;
        width: auto;
        margin-top: 30px;
        color: #000000;
    }
}

.go-to-tj {
    background: #FFFFFF;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
    color: #181818 !important;
    margin-top: 10px;
}

.defhider {

    .loginblock {
        display: none;
    }
}

.admin-logo {
    background: #FFFFFF;
    border-radius: 5px;
    overflow: hidden;
    padding: 5px 15px;
    position: relative;
    margin: 15px 0;
    text-align: center;
    vertical-align: middle;
    align-items: center!important;
    justify-content: center!important;
    display: flex;
    height: 50px;
    width: 100%;
}

.logout {
    float: right;
    font-size: 24px;

    i {
        color: #FFFFFF;
    }
}

.admin-header {

    h4 {
        font-size: 18px;
        font-weight: 400;
        margin: 0;
    }

    small {
        color: rgba(234, 240, 246, 0.8);
        font-size: 10px;
    }

    .admin-nav {
        float: left;
        width: 100%;
        margin-top: 5px;

        a {
            color: #FFFFFF;
            margin: 0 10px 0 0;

            i {
                font-size: 14px;
            }
        }
    }
}

.toast {
    margin-top: 30px;
}

.admin-d-card {

    .card-title {
        font-size: 16px;
    }

    a {
        text-decoration: none;
        float: left;
        width: 100%;
        font-size: 12px;
        margin-bottom: 10px;

        &:last-child {
            margin: 0;
        }
    }
}

.admin-accor {

    .accordion-item {
        border: none !important;
        background: rgb(255, 239, 239);
    }

    .accordion-button {
        padding: 10px 15px;
        font-size: 14px;
        background: rgb(255, 191, 191);
        color: #000000;
        border-radius: 0 !important;
        border: none !important;

        &::after {
            width: 14px;
            height: 14px;
            background-size: 14px;
        }

        i {
            font-size: 14px;
        }
    }
}

.agentmenu {

    .admin-tbl-wrap {
        float: left;
        width: 100%;
        position: relative;
        overflow: auto;
    }

    table {
        margin: 0;
        border-collapse: collapse; 

        tbody {
            height: 200px;
            overflow: auto;
        }

        th {
            vertical-align: middle;

            &:first-child {
                border-top-left-radius: 5px;
            }

            &:last-child {
                border-top-right-radius: 5px;
            }
        }

        td {
            vertical-align: middle;

            p {
                margin-bottom: 5px;

                &:last-child {
                    margin: 0;
                }                

                span {
                    color: #0061a6;
                    font-weight: 500;
                }
            }

            a {
                text-decoration: none;
                color: rgb(118, 11, 11);
                font-weight: 500;
            }
        }
    }
}

.admin-dash-links {

    a {
        float: left;
        width: 100%;
        position: relative;
        text-decoration: none;
        text-align: center;
        background: url(../public/images/pattern.png) right center no-repeat #5d5d5d;
        background-size: 260px;
        background-position: 70px -60px;
        border-radius: 5px;
        line-height: auto;
        font-size: 14px;
        color: #ffffff;
        vertical-align: middle;
        height: 60px;
        display: flex;
        padding: 0 15px 0 15px;
        justify-content: first baseline;
        align-items: center;
        transition:all 0.2s ease-out;
        text-align: left;
        overflow: hidden;

        &:hover {
            transition:all 0.2s ease-out;
            background: url(../public/images/pattern.png) right center no-repeat #ED213A;
            background-size: 260px;
            background-position: 70px -60px;
            padding: 0 15px 0 30px;

            i {
                margin-left: -100px;
                margin-right: 10px;
            }
        }

        i {
            margin-right: 30px;
            margin-left: -120px;
            position: relative;
            font-size: 90px;
        }
    }
}

.admin-left-btn {

    .admin-left-btn-wrp {
        padding: 15px;
        background: #f2f2f2;
        border: solid 1px #cacaca;
        border-radius: 5px;

        button {
            width: 100%;
            text-align: left;
            font-size: 12px;
    
            i {
                margin-right: 5px;
            }
        }
    }
}

.add-btn {
    font-size: 12px;
    background: #0b9843;
    border: none;

    &:hover {
        background: green;
    }

    i {
        margin-right: 5px;
    }
}

.back-btn {
    font-size: 12px;
    background: #e49a10; 
    border: none;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    color: #FFFFFF !important;

    &:hover {
        background: #af7509;
    }

    i {
        margin-right: 5px;
    }
}

.filter-frm {
    float: left;
    width: 100%;
    border: dashed 1px #EEEEEE;
    border-radius: 5px;
    padding: 15px;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 29%, rgba(205,205,205,1) 100%);
}

.form-label {
    float: left;
    width: 100%;
}

.w-60 {
    width: calc(60% + -5px);
    float: left;
    margin-right: 10px;
}

.w-40 {
    width: calc(40% + -5px);
    float: left;
}

.d-rang-pick {
    width: calc(50% + -5px) !important;
    float: left;

    &.rpl {
        float: right !important;
    }
}

.form-check {
    float: left;
    margin: 5px 10px 0 0;
}

.form-label {
    margin-bottom: 5px !important;
}

button {
    border: none;
}

.filter-btn {
    font-size: 12px;
    margin-left: 5px;
    border: none;
}

.search-btn {
    background: #0aab0a !important;
    border: none;
    color: #FFFFFF !important;
    font-size: 12px !important;
}

.delete-btn {
    background: #c51212 !important;
    border: none;
    color: #FFFFFF !important;
    font-size: 12px !important;

    i {
        margin-right: 5px;
    }
}

button {
    border: none !important;
}

.adv-btn {
    font-size: 12px;
    background: #252525;
}

.divider {
    display: table; 
    font-size: 12px; 
    text-align: center; 
    width: 100%; 
    margin: 0px auto;
}

.divider span { 
    display: table-cell; 
    position: relative; 
}

.divider span:first-child, .divider span:last-child {
    width: 50%;
    top: 13px;
    -moz-background-size: 100% 2px;
    background-size: 100% 2px;
    background-position: 0 0, 0 100%;
    background-repeat: no-repeat;
}

.divider span:first-child {
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(#585858));
    background-image: -webkit-linear-gradient(180deg, transparent, #585858);
    background-image: -moz-linear-gradient(180deg, transparent, #585858);
    background-image: -o-linear-gradient(180deg, transparent, #585858);
    background-image: linear-gradient(90deg, transparent, #585858);
}

.divider span:nth-child(2) {
    color: #585858; padding: 0px 5px; width: auto; white-space: nowrap;
}

.divider span:last-child {
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#585858), to(transparent));
    background-image: -webkit-linear-gradient(180deg, #585858, transparent);
    background-image: -moz-linear-gradient(180deg, #585858, transparent);
    background-image: -o-linear-gradient(180deg, #585858, transparent);
    background-image: linear-gradient(90deg, #585858, transparent);
}

.tb-leg {
    margin-left: 10px;
    float: right;
}

.pagin-wrapper {
    float: left;
    width: 100%;
    position: relative;

    p {
        float: left;
        width: auto !important;
        line-height: 26px;
        margin: 0 10px 0 0;
        padding: 0;
        font-size: 12px;
    }
}

.pagination {
    float: right;
    margin: 0;

    li {
        padding: 0 !important;

        span {
            padding: 2px 5px !important;
            font-size: 12px;
            border: solid 1px #ffffff00 !important;
        }

        a {
            font-size: 12px;
            padding: 2px 5px !important;
            border: solid 1px #d2d2d2;
        }
    }
}

.c-red {
    color: red;
}

.c-green {
    color: green;
}

.c-yellow {
    color: yellow;
}

.appsearch-tbl {

    th {
        vertical-align: middle;
        font-weight: 400;
        padding: 5px;
    }

    td {
        vertical-align: middle;
        padding: 5px;
    }
}

.masterlist-tbl {

    th {
        vertical-align: middle;
        font-weight: 400;
        padding: 5px;
        width: auto;

        &:first-child {
            width: 50px;
        }

        &:nth-child(2) {
            width: 50px;
        }

        &:nth-child(3) {
            width: 50px;
        }
    }

    td {
        vertical-align: middle;
        padding: 5px;
    }
}

.css-b62m3t-container {
    position: relative;
    z-index: 100;
}

.css-t3ipsp-control {
    border: 1px solid #ced4da !important;
    box-shadow: none !important;
}

.css-1jqq78o-placeholder {
    margin-left: 6px !important;
}

td {

    a {
        text-decoration: none !important;
    }
}

.f-r {
    float: right !important; 
}

.mastertop {
    float: left;
    width: 100%;
    padding: 15px;
    border: dashed 1px #9d9d9d;
    border-radius: 5px;
    margin-bottom: 10px;
    background: #ececec;

    p {
        margin: 0 0 10px 0;
    }
}

.masterlist {

    .bx-cmm {
        float: left;
        width: 100%;
        position: relative;

        p {
            float: left;
            width: 100%;
            margin: 0;
            border-radius: 5px 5px 0 0;
            padding: 10px;
        }

        ol {
            padding: 0 10px 10px 10px;
            float: left;
            width: 100%;
            display: inline;
            height: 200px;
            overflow: auto;
            border-radius: 0 0 5px 5px;

            li {
                padding-left: 0;
                padding-right: 0;
                float: left;
                margin-right: 5px;
                width: calc(50% + -10px);
                display: inline;

                &:nth-child(2n) {
                    float: right;
                    margin: 0;
                }

                a {
                    text-decoration: none;
                    color: #000000;
                }
            }
        }
    }

    .bx-1 {        
        
        p {
            background: red;
            color: #FFFFFF;
        }

        ol {
            border: solid 3px #ff0000;

            li {
                a {
                    &:hover {
                        color: red;
                    }
                }
            }
        }
    }

    .bx-2 {        
        
        p {
            background: #5db917;
            color: #FFFFFF;
        }

        ol {
            border: solid 3px #5db917;

            li {
                a {
                    &:hover {
                        color: #5db917;
                    }
                }
            }
        }
    }

    .bx-3 {        
        
        p {
            background: #f3dd15;
            color: #FFFFFF;
        }

        ol {
            border: solid 3px #f3dd15;

            li {
                a {
                    &:hover {
                        color: #f3dd15;
                    }
                }
            }
        }
    }
}

.emailconfig {

    table {
        table-layout: fixed;

        thead {

            th {

                &:first-child {
                    width: 200px;
                }

                &:last-child {
                    text-align: center;
                }
            }
        }

        td {

            &:last-child {
                text-align: center;
            }
        }
    }

    .form-label {

        i {
            color: red;
            font-style: normal;
        }
    }

    .email-configuration-view {
        float: left;
        width: calc(100% + -14px);
        position: relative;
        background: linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 6px) calc(100% - 6px) no-repeat,
            linear-gradient(0deg, transparent 0%, #e2e2e2 100%);
        border-radius: 0px;
        padding: 7px;
        box-sizing: content-box;
    }
}

.form-label {

    i {
        color: red;
        font-style: normal;
    }
}

.agent-info {
    float: left;
    width: 100%;
    position: relative;
    height: auto;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 15px;

    h3 {
        color: #FFFFFF;
        font-size: 14px;
        float: left;
        width: 100%;
        text-align: left;
        position: relative;
        margin: 15px 0 0 0;
    }

    .agent-logo {
        background: #FFFFFF;
        text-align: center;
        border-radius: 5px;
        padding: 15px 10px;
        width: 100%;
        display: inline-block;
    }

    .agent-data {
        float: left;
        width: 100%;
        padding: 15px 0 0 0;

        p {
            color: #FFFFFF;
            margin: 0 0 10px 0;
            font-size: 14px;
            text-align: left;

            a {
                color: #FFFFFF;
                text-decoration: none;
            }
        }
    }
}

.g-map {
    text-decoration: none;
    color: #000000 !important;
    font-weight: 500;   
    font-size: 14px;

    i {
        margin-right: 5px;
    }
}

.g-map-edit {
    text-decoration: none;
    color: #1e60c2 !important;
    font-weight: 500;   
    font-size: 14px;
    margin-left: 15px;

    i {
        margin-right: 5px;
    }
}

.agent-tbl {

    tbody {

        tr {

            &:first-child {

                td {
                    background: #d2fff0;
                }
            }
        }
    }

    td {
        background: #FFFFFF;
        vertical-align: middle;

        .fa-circle-plus {
            color: #009966;
            font-size: 16px;
        }
    }
}

.employerlist-tbl {

    th {
        vertical-align: middle;
    }

    td {
        vertical-align: middle;

        a {
            margin-right: 10px;

            i {
                font-size: 14px;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.btn-clr {
    background: none;
    padding: 0;
}

.inf {
    border: dashed 2px #7a7a7a;
    background: #f8f8f8;
    border-radius: 5px;
    padding: 15px;
    text-align: justify;
    margin-bottom: 15px;

    p {

        &:last-child {
            margin: 0;
        }
    }
}

.no-data {
    float: left;
    width: 100%;
    padding: 15px;
    background: #fff0d9;
    border: solid 1px #ffce84;

    p {
        font-weight: 500;

        &:last-child {
            margin: 0;
        }
    }
}

.jb-old {
    color: red !important;
}

.payment-tbl {
    
    position: relative;
}

.payment-total {
    float: right;
    width: 100%;
    padding: 15px 20px;
    border-radius: 0;
    background: white;
    font-size: 16px;
    font-weight: 500;
    position: fixed;
    right: 0;
    bottom: 0;
    text-align: right;
    box-shadow: 0px 4px 25px #939393;

    p {
        float: right;
        background: rgb(146, 1, 1);
        color: #FFFFFF;
        font-size: 16px;
        font-weight: 500;
        padding: 10px 15px;
        border-radius: 5px;
        margin: 0;
    }
}

table {

    td {
        vertical-align: middle;
    }
}

.css-b62m3t-container {
    z-index: auto !important;
}

.fa-trash {
    color: red !important;
}

.rdw-editor-main {
    background: #FFFFFF;
    padding: 0 10px;
    min-height: 300px;
}

.hint {
    background: rgb(255, 221, 221);
    border: dashed 2px red;
    padding: 10px;
    border-radius: 5px;
    color: red;
}

.nav-tabs {
    margin: 0;

    li {
        border-radius: 5px 5px 0 0;
        margin: 0 0 0 10px;

        .nav-link {
            font-weight: 500;
            font-size: 12px;
            color: #363636;
            background: #e1e1e1;

            &:hover {
                background: #434343;
                color: #FFFFFF;
            }

            &.active {
                background: #434343;
                color: #FFFFFF;
            }
        }
    }
}

.tab-content {
    background: linear-gradient(#f8f8f8, #f8f8f8) 50% 50%/calc(100% - 6px) calc(100% - 6px) no-repeat,
            linear-gradient(0deg, transparent 0%, #434343 100%);
    border-radius: 3px 3px 0 0;
    padding: 20px;
    box-sizing: content-box;
    float: left;
    width: calc(100% + -40px);
}

.user-block {
    float: left;
    width: 100%;
    position: relative;

    .loop-user {
        float: left;
        width: 100%;
        position: relative;
        border: solid 1px #EEEEEE;
        background: #FFFFFF;
        padding: 5px 10px;
        border-radius: 5px;

        .delete {
            float: left;
            width: 30px;
            position: relative;
        }

        .detail {
            float: left;
            width: calc(100% + -30px);
            position: relative;
            display: flex;
            flex-wrap: wrap;

            p {
                margin: 0;
                float: left;
                flex: 1 1 auto;

                b {
                    float: left;
                    width: 100%;
                }
            }
        }
    }
}

.sys-config-block {
    float: left;
    width: 100%;
    padding: 10px;
    border: solid 1px #d6d6d6;
    border-radius: 5px;
    margin: 15px 0 10px 0;
    box-shadow: 0px 4px 5px -4px #aeaeae;

    .block-title {
        float: left;
        width: auto;
        position: relative;
        font-size: 12px;
        background: #FFFFFF;
        padding: 5px 10px;
        border-radius: 5px;
        margin: -23px 0 15px 0;
        color: #2e2e2e;
        font-weight: 500;
        border: solid 1px #d6d6d6;
    }

    h3 {
        float: left;
        width: 100%;
        position: relative;
        padding: 0 0 0 4px;
        font-size: 12px;
        font-weight: normal;
    }

    .f-group {
        float: left;
        width: 100%;
        margin: 0 0 10px 0;
    }
}

.t-fl {
    float: left;
    width: 100%;
}

.dbconfig-tbl {
    table-layout: fixed;
    float: left;
}

.seeker-left {
    background: #830404;
    color: #FFFFFF;
    padding: 20px 15px;

    .seeker-img {
        background: #FFFFFF;
        padding: 15px 30px;
        border-radius: 5px;
        margin-bottom: 15px;
        max-width: 250px;
        width: 100%;
    }

    h3 {
        padding: 15px 0 10px 0;
        font-size: 24px;
        font-weight: 400;
    }

    p {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.seeker-login-bx {
    width: 350px;
    max-width: 100%;
    background: #FFFFFF;
    padding: 20px 30px;
    border-radius: 10px;
    margin: 30px 0;
    box-shadow: 0px 0px 20px 3px #d8d8d8;

    h2 {
        text-align: left !important;
        margin-bottom: 20px;
        font-size: 18px;
        font-weight: 500;
    }

    label {
        text-align: left !important;
        float: left;
        width: 100%;
        font-weight: 500;
        color: #313131;
    }

    button {
        width: 100%;
        margin-bottom: 15px;
        border: none;

        i {
            margin-left: 5px;
        }
    }

    .seeker-log-button {
        width: 100%;
        margin-bottom: 15px;
        border: none;
        color: #FFFFFF;
        border-radius: 5px;
        background: #830404;

        i {
            margin-left: 5px;
        }
    }

    .radio-grp {
        text-align: left !important;
        float: left;
        width: 100%;
        margin-bottom: 5px;

        input {
            position: relative;
            top: 3px;
            margin-right: 5px;
        }
    }

    a {
        float: right;
        width: auto;
        margin-top: 30px;
        color: #000000;
    }
}

.fc-col-header {

    a {
        color: #FFFFFF;
        text-decoration: none;
        line-height: 40px;
    }
}

.fc-daygrid-block-event {

    .fc-event-title {
        font-size: 12px;
    }
}

.fc .fc-daygrid-day.fc-day-today {
    background: rgb(54, 142, 243) !important;
    color: #FFFFFF;

    .fc-daygrid-day-number {
        color: #FFFFFF !important;
    }
}

.fc .fc-toolbar-title {
    font-size: 16px !important;
}

.fc-today-button {
    text-transform: capitalize !important;
}

.reports {

    .filter-frm {

        select {

            optgroup {

                color: #000000;
                padding: 10px;
                background: #dfdfdf;
                line-height: 20px;

                option {
                    color: #000000;
                    padding: 0;
                    background: #FFFFFF;
                }
            }
        }
    }

    small {

        a {
            float: left;
            text-decoration: none;
            color: red;
            margin: 3px 0 0 0;
            font-size: 10px;
        }
    }

    caption {
        background: #3b3b3b;
        border-radius: 3px 3px 0 0;
        padding-left: 10px;
        color: #FFFFFF;
    }
}

.profilecustomise {

    .accordion {

        .accordion-item {

            .accordion-header {

                .accordion-button {
                    font-size: 13px;
                    padding: 10px 15px;
                    font-weight: 500;
                    color: #000000;
                }
            }

            .accordion-collapse {

                .accordion-body {
                    padding: 10px 10px;
                }
            }
        }

        table {

            td {

                &:first-child {
                    width: 80%;
                }

                &:nth-child(2) {
                    width: 100px;
                }

                &:nth-child(3) {
                    width: 100px;
                }
            }
        }
    }
}

@media (min-width: 0px) and (max-width: 967px) {
    .js-signup {
        .signup-box {
            margin-bottom: 30px;
        }
    }
}

@media (min-width: 0px) and (max-width: 767px) {
    
    #main-cont {
        float: left;
        width: 100%;
        position: relative;
        padding: 80px 0 40px 0;
    }

    .menu-offcanvas {
        width: 100% !important;
    }

    .js-login {

        .login-box {
            height: auto;
            padding: 30px 0;
        }
        
        .js-login-form-inner {
            height: auto;
            padding: 30px 0;
        }
    }    

    .jslog-wrp {
        margin-bottom: 15px;
    }

    .js-signup {
        .login-box {
            height: auto;
            padding: 30px 0;
            margin-bottom: 30px;
        }
    }

    .js-signup {
        .js-signup-form-inner {
            height: auto;
        }
    }

    .js-signup {
        .signup-box {
            margin-bottom: 30px;
        }
    }
}

@media (min-width: 0px) and (max-width: 564px) {
    header {
        
        .menu-btn i {
            float: left;
            margin: 4px 0 !important;
        }
    }

    .card-hm-title {
        margin-top: 15px !important;
    }

    .vacbytop {

        .search-form {
            max-width: 200px;
        }
    }

    #admin-header {
        height: 135px;

        .admin-logo {

            img {
                max-height: 30px;
            }
        }
    }

    .defhider {

        .main-cont {
            padding-top: 135px !important;
        }
    }
}